{% extends 'layout.html.twig' %}

{% block body %}
<h1>Formulaire de réservation</h1>
<ul>
  <li>Informations générales</li>
  <div id = 'basket'>
    {{ form_start(formBasket) }}
    {{ form_widget(formBasket) }}
    {{ form_end(formBasket) }}
    <a href="#" id="add_billet" class="btn btn-default">Ajouter un billet</a>

      {#{% for message in app.session.flashbag.get('infos') %}#}
        {#<p>{{ message }}</p>#}
      {#{% endfor %}#}
  </div>
  {#<li>Billet(s)</li>#}
  {#<div id = 'billet'>#}
    {#{{ form(formBillet) }}#}
  {#</div>#}
</ul>

{% endblock %}
