{% extends 'layout.html.twig' %}

{% block body %}
<div class="container">
    {% for message in app.flashes('error') %}
        <div class="flash-notice">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
    <h2>Récapitulatif de votre commande</h2>
    {% for panier in basket %}
        <p>Un e-mail de confirmation vous sera envoyé à l'adresse : <strong>{{ panier.mail }}</strong> pour une réservation à la date du <strong>{{ panier.date|date('d-m-Y') }}</strong></p>
    {% endfor %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Numéro du billet</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Tarif</th>
            </tr>
            </thead>
            <tbody>
            {% for billet in billets %}
                <tr>
                    <td><h3>Billet n° {{ loop.index }} : </h3></td>
                    <td><h3><strong>{{ billet.name }}</strong></h3></td>
                    <td><h3><strong>{{ billet.firstname }}</strong></h3></td>
                    <td><h3><strong>{{ billet.price }} €</strong></h3></td>
                </tr>
                <br />
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class = 'priceBasket'>
        <h2 class = 'titreTotal'>Total : </h2>
        {% for panier in basket %}
            <h3>Total HT : <strong>{{ panier.totalPrice }} €</strong></h3>
            <h3>TVA à 20% : <strong>{{ panier.totalTVA }} €</strong></h3>
            <h3>Total TTC : <strong>{{ panier.totalTTC }} €</strong></h3>
            <form action="{{ path('paiement', {'totalTTC': panier.totalTTC, 'mail': panier.mail, 'id': panier.id, 'date':panier.date|date('d-m-Y')}) }}) }}" method="POST" id = "btnPaiement">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_xYxkBoEYIEXYJKWNlej4wl1A"
                        data-name="Paiement"
                        data-description="Widget"
                        data-locale="fr"
                        data-currency="eur"
                        data-label="Payer">
                </script>
            </form>
        {% endfor %}
    </div>
</div>
{% endblock %}



