<head><style type = text/css>
    header
    {
        margin-left: 20px;
    }
</style>
</head>

<html>
<img src = "{{ absolute_url(asset('img/logo.jpg')) }}" alt = 'logo' /><header><strong>Musée du Louvre</strong></header>
    <body>
        <h2>Voici votre récapitulatif de commande n° {{ code }} pour le {{ dateresa }}</h2><br />

        Ci-dessous les noms des personnes associées à la commande :<br /><br />
        {% for names in name %}
            - <strong>{{ names.name}}</strong><br />
        {% endfor %}<br/>

        Total de la facture : <strong>{{ totalTTC }} € TTC.</strong><br /><br />

        Ce mail fait office de billet, à présenter lors de l'arrivée sur le site.<br /><br />

    </body>
    <footer>A bientôt sur le site du Musée du Louvre</footer>
</html>
